.head{
    text-align: center;
    background-color:grey ;
    padding: 5px;
    width: 100%;
}
.body{
    padding: 50px;
}
td{
    padding-left: 30px;
}
h2{
    padding-left: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
p{
    padding-left: 10px;
    font-family:Arial, Helvetica, sans-serif ;
    line-height: 20px
}
img{
    border-radius: 10px;
}
.caption{
    font-style: italic;
    padding-bottom: 10px;
    padding-top: 1px;
}
li{
    padding-bottom: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
th{
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}
.data{
    background-color: rgb(223, 223, 223);
}
td{
    padding: 3px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
